APP_ENV=production
DB_SERVER=tcp:liderdriver.database.windows.net,1433
DB_DATABASE=clerioapp
DB_USERNAME=configure-na-azure
DB_PASSWORD=configure-na-azure
DB_ENCRYPT=1
DB_TRUST_CERTIFICATE=0
DB_LOGIN_TIMEOUT=30

